
    <div class="container-tittle">
        
        <h1>Portal de Pagos</h1>
        
    </div>

    <div class="content-center">
        <div class="container p-2 content-form">
            <div class="col-12">
                <form [formGroup]="formularioDeRegistro" (submit)="onSubmit(formularioDeRegistro)">
                    <h1>Registro de nuevo usuario</h1>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre Completo</label>
                        <input type="text" class="form-control" id="nombre" #nombre name="nombre"
                        aria-describedby="nombre" placeholder="Ingrese el nombres y apellidos por favor"
                        formControlName="nombreCompleto">
                        <div class="errorCodigo" 
                        *ngIf="formularioDeRegistro.get('nombreCompleto')!.hasError('required') && formularioDeRegistro.get('nombreCompleto')!.touched">
                            * El campo nombre no debe estar vacio
                        </div>
                        <div class="errorCodigo" 
                        *ngIf="formularioDeRegistro.get('nombreCompleto')!.hasError('pattern') && formularioDeRegistro.get('nombreCompleto')!.touched">
                            * Solo se debe ingresar texto
                        </div>
                        <div class="errorCodigo" *ngIf="formularioDeRegistro.get('nombreCompleto')!.hasError('minlength') && formularioDeRegistro.get('nombreCompleto')!.touched">
                            * Debe contener minimo de 3 caracteres
                        </div>
                        <div class="errorCodigo" *ngIf="formularioDeRegistro.get('nombreCompleto')!.hasError('maxlength') && formularioDeRegistro.get('nombreCompleto')!.touched">
                            * Debe contener maximo de 40 caracteres
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="usuario" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="usuario" #usuario name="usuario"
                        aria-describedby="usuario" placeholder="Ingrese el usuario por favor"
                        formControlName="usuarioIndicado">
                        <div class="errorCodigo" *ngIf="formularioDeRegistro.get('usuarioIndicado')!.hasError('required') && formularioDeRegistro.get('usuarioIndicado')!.touched">
                            * El campo usuario no debe estar vacio
                        </div>
                        <div class="errorCodigo" *ngIf="formularioDeRegistro.get('usuarioIndicado').hasError('hayEspacio')  && formularioDeRegistro.get('usuarioIndicado')!.touched">
                            * No debes agregar espacios en blanco
                        </div>
                        <div class="errorCodigo" *ngIf="formularioDeRegistro.get('usuarioIndicado')!.hasError('minlength') && formularioDeRegistro.get('usuarioIndicado')!.touched">
                            * Debe contener minimo de 6 caracteres
                        </div>
                        <div class="errorCodigo" *ngIf="formularioDeRegistro.get('usuarioIndicado')!.hasError('maxlength') && formularioDeRegistro.get('usuarioIndicado')!.touched">
                            * Debe contener maximo de 20 caracteres
                        </div>
                        <div class="errorCodigo" 
                        *ngIf="formularioDeRegistro.get('usuarioIndicado')!.hasError('pattern') && formularioDeRegistro.get('usuarioIndicado')!.touched">
                            * Solo puedes colocar letras, solo tiene permitido ingresar los siguientes
                            caracteres especiales (".", "@", "_", "-")
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Correo</label>
                        <input type="text" class="form-control" id="email" #email name="correo" maxlength="{{correoMaxLen}}"
                        aria-describedby="correo" placeholder="Ingrese su correo por favor"
                        formControlName="correo">
                        <div class="errorCodigo" *ngIf="formularioDeRegistro.get('correo')!.hasError('required') && formularioDeRegistro.get('correo')!.touched">
                            * El campo correo no debe estar vacio
                        </div>
                        <div class="errorCodigo" *ngIf="formularioDeRegistro.get('correo')!.hasError('email') && formularioDeRegistro.get('correo')!.touched">
                            * El correo debe tener el formato: example@dominio.com
                        </div>
                        <div class="errorCodigo" *ngIf="formularioDeRegistro.get('correo')!.hasError('pattern') && formularioDeRegistro.get('correo')!.touched">
                            * El correo debe tener el formato: example@dominio.com
                        </div>
                        <div class="errorCodigo" *ngIf="formularioDeRegistro.get('correo')!.hasError('maxlength') && formularioDeRegistro.get('correo')!.touched">
                            * El correo debe tener como maximo 50 letras
                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="clave" class="form-label">Contraseña</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="clave" #clave
                            placeholder="Ingrese la contraseña por favor" name="clave"
                            formControlName="claveNueva">
                            <div class="input-group-append">

                                <span class="input-group-text">
                                    <span style="cursor: pointer;" class="material-icons" 
                                    #claveSpan (click)="mostrarClave(clave, claveSpan)" >visibility_off</span>
                                </span>

                            </div>
                        </div>
                        

                        <div class="errorCodigo" *ngIf="formularioDeRegistro.get('claveNueva')!.hasError('required') && formularioDeRegistro.get('claveNueva')!.touched">
                            * El campo clave no debe estar vacio
                        </div>
                        <div class="errorCodigo" *ngIf="formularioDeRegistro.get('claveNueva').hasError('hayEspacio')  && formularioDeRegistro.get('claveNueva')!.touched">
                            * No debes agregar espacios en blanco
                        </div>
                        <div class="errorCodigo" *ngIf="formularioDeRegistro.get('claveNueva')!.hasError('minlength') && formularioDeRegistro.get('claveNueva')!.touched">
                            * Debe contener minimo de 6 caracteres
                        </div>
                        <div class="errorCodigo" *ngIf="formularioDeRegistro.get('claveNueva')!.hasError('maxlength') && formularioDeRegistro.get('claveNueva')!.touched">
                            * Debe contener maximo de 20 caracteres
                        </div>
                        <div class="errorCodigo" 
                        *ngIf="formularioDeRegistro.get('claveNueva')!.hasError('pattern') && formularioDeRegistro.get('claveNueva')!.touched">
                            * Debes colocar al menos una letra en mayuscula, al menos un numero y
                            al menos uno de estos caracteres especiales (".", "@", "_", "-")
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="claveRepetida" class="form-label">Confirmar Contraseña</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="claveRepetida" #claveV
                            placeholder="Ingrese la misma contraseña por favor" name="claveConfirmar"
                            formControlName="claveVerificar">
                            <div class="input-group-append">

                                <span class="input-group-text">
                                    <span style="cursor: pointer;" class="material-icons" 
                                    #claveVSpan (click)="mostrarClave(claveV, claveVSpan)" >visibility_off</span>
                                </span>

                            </div>
                        </div>
                        <div class="errorCodigo" *ngIf="formularioDeRegistro.get('claveVerificar')!.hasError('required') && formularioDeRegistro.get('claveVerificar')!.touched">
                            * El campo de confirmar clave no debe estar vacio
                        </div>
                        <div class="errorCodigo" *ngIf="formularioDeRegistro.hasError('noSonIguales') && formularioDeRegistro.get('claveVerificar')!.touched">
                            * El campo "Confirmar Contraseña" debe ser igual al campo "Contraseña"
                        </div>
                        <div class="errorCodigo" *ngIf="formularioDeRegistro.get('claveVerificar').hasError('hayEspacio')  && formularioDeRegistro.get('claveVerificar')!.touched">
                            * No debes agregar espacios en blanco
                        </div>
                        
                    </div>

                    <div class="mb-3">
                        <label for="nacimiento" class="form-label">Ingresa tu fecha de nacimiento</label>
                        
                        <input type="date" class="form-control" id="start" name="fechaNacimiento" #fd
                        value="{{dateActual}}" min="{{dateMin}}" max="{{dateMax}}" #fecha 
                        formControlName="fechaDeNacimiento">
                        <!--"formularioDeRegistro.get('fechaDeNacimiento')!.hasError('required') && formularioDeRegistro.get('fechaDeNacimiento')!.touched"-->
                        <div class="errorCodigo" 
                        *ngIf="formularioDeRegistro.get('fechaDeNacimiento')!.hasError('required') && formularioDeRegistro.get('fechaDeNacimiento')!.touched">
                            * El campo debe tener el formato dd/mm/aaaa, debe asignar el dia, mes y año 
                            Ejemplo = 04/08/2001
                        </div>
                        
                        <div class="errorCodigo" *ngIf="formularioDeRegistro.hasError('fechaMax') && formularioDeRegistro.get('fechaDeNacimiento')!.dirty">
                            * Debes de tener mas de 13 años
                        </div>

                        <div class="errorCodigo" *ngIf="formularioDeRegistro.hasError('fechaMin') && formularioDeRegistro.get('fechaDeNacimiento')!.dirty">
                            * Fecha de nacimiento no valida
                        </div>
                        
                        <div class="errorCodigo" *ngIf="formularioDeRegistro.hasError('fechaAct') && formularioDeRegistro.get('fechaDeNacimiento')!.dirty">
                            * La fecha ingresada no debe ser mayor a la fecha actual
                        </div>
                        
                    </div>

                    <div class="mb-3 text-xs-center">

                        <ngx-recaptcha2 [siteKey]="siteKey" class="g-recaptcha"
                        formControlName="recaptcha"></ngx-recaptcha2>
                        
                    </div>

                    <div *ngIf="usuarioExiste"
                        class="mb-3 text-xs-center">
                        El nombre de usuario o correo ya se encuentra registrado
                    </div>
                    


                    <div class="mb-3 text-center">

                        <div class="col">
                            <button (click)="registrandose(formularioDeRegistro)"
                            type="submit" class="btn btn-primary" 
                            [disabled]="!formularioDeRegistro.valid"
                            >Registrarse</button>
                            
                            <button (click)="cancelar()"
                            type="submit" class="btn btn-primary">Cancelar</button>
                            
                            
                        </div>

                    </div>

                    


                    

 
                </form>
            </div>
        </div>
    </div>

    <app-footer-bar></app-footer-bar>

