
<!--<div class="container-tittle">
        
        <h1>Portal de Pagos</h1>
        
    </div>

    <div class="content-center">
        <div class="container p-2 content-form">
            <div class="col-12">
                <form [formGroup]="formularioLogin">
                    <h1>Acceso al portal</h1>
                    <div class="mb-3">
                        <label for="usuario" class="form-label">Usuario</label>
                        <input formControlName="nombreUsuario"
                        type="text" class="form-control" id="usuario" 
                        aria-describedby="usuario" placeholder="Ingrese el usuario por favor">
                        <div class="errorCodigo" *ngIf="formularioLogin.get('nombreUsuario')!.hasError('required') && formularioLogin.get('nombreUsuario')!.touched">
                            * El campo nombre no debe estar vacio
                        </div>
                        <div class="errorCodigo" *ngIf="formularioLogin.get('nombreUsuario').hasError('hayEspacio')  && formularioLogin.get('nombreUsuario')!.touched">
                            * No debes agregar espacios en blanco
                        </div>
                        <div class="errorCodigo" *ngIf="formularioLogin.get('nombreUsuario')!.hasError('minlength') && formularioLogin.get('nombreUsuario')!.touched">
                            * Debe contener minimo de 6 caracteres
                        </div>
                        <div class="errorCodigo" *ngIf="formularioLogin.get('nombreUsuario')!.hasError('maxlength') && formularioLogin.get('nombreUsuario')!.touched">
                            * Debe contener maximo de 20 caracteres
                        </div>
                    </div>
                    

                    <div class="mb-3">
                        <label for="clave" class="form-label">Contraseña</label>
                        <input formControlName="claveUsuario"
                        type="password" class="form-control" id="clave"
                        placeholder="Ingrese la contraseña por favor">
                        <div class="errorCodigo" *ngIf="formularioLogin.get('claveUsuario')!.hasError('required') && formularioLogin.get('claveUsuario')!.touched">
                            * El campo clave no debe estar vacio
                        </div>
                        <div class="errorCodigo" *ngIf="formularioLogin.get('claveUsuario').hasError('hayEspacio')  && formularioLogin.get('claveUsuario')!.touched">
                            * No debes agregar espacios en blanco
                        </div>
                        <div class="errorCodigo" *ngIf="formularioLogin.get('claveUsuario')!.hasError('minlength') && formularioLogin.get('claveUsuario')!.touched">
                            * Debe contener minimo de 6 caracteres
                        </div>
                        <div class="errorCodigo" *ngIf="formularioLogin.get('claveUsuario')!.hasError('maxlength') && formularioLogin.get('claveUsuario')!.touched">
                            * Debe contener maximo de 20 caracteres
                        </div>
                    </div>

                    <div class="mb-3">
                        <button (click)="accediendo(formularioLogin)"
                        [disabled]="!formularioLogin.valid"
                        type="submit" class="btn btn-primary">Acceder</button>
                    </div>

                    <div class="mb-3">
                        <button (click)="registrarse()"
                        type="button" class="btn btn-primary">
                            Registrese aqui si no tiene cuenta
                        </button>
                        <div *ngIf="!usuarioRegistrado">El usuario y/o la clave esta errado</div>
                        <div *ngIf="usuariobloquedo">El usuario se encuentra bloqueado</div>
                    </div>

                    <div class="mb-3 text-center">
                        <app-remember-user></app-remember-user>
                        <app-remember-pass></app-remember-pass>
                        
                    </div>

                    <div class="mb-3 text-center">
                        <app-desblock-user class="text-center"></app-desblock-user>
                    </div>

                    

 
                </form>
            </div>
        </div>
    </div>-->

   <div class="container-fuild titulo">

        <div class="row">
            <div class="col">
                <h1 class="text-center">Portal de Pagos</h1>
            </div>
        </div>

   </div>

   <div class="container  formulario mb-3 mt-3 col-6">

        <div class="row">
            <div class="col text-center">
                <form [formGroup]="formularioLogin">
                    <h1>Acceso al portal</h1>
                    <div class="mb-3 text-left">
                        <label for="usuario" class="form-label">Usuario</label>
                        <input formControlName="nombreUsuario"
                        type="text" class="form-control" id="usuario" 
                        aria-describedby="usuario" placeholder="Ingrese el usuario por favor">
                        <div class="errorCodigo" *ngIf="formularioLogin.get('nombreUsuario')!.hasError('required') && formularioLogin.get('nombreUsuario')!.touched">
                            * El campo nombre no debe estar vacio
                        </div>
                        <div class="errorCodigo" *ngIf="formularioLogin.get('nombreUsuario').hasError('hayEspacio')  && formularioLogin.get('nombreUsuario')!.touched">
                            * No debes agregar espacios en blanco
                        </div>
                        <div class="errorCodigo" *ngIf="formularioLogin.get('nombreUsuario')!.hasError('minlength') && formularioLogin.get('nombreUsuario')!.touched">
                            * Debe contener minimo de 6 caracteres
                        </div>
                        <div class="errorCodigo" *ngIf="formularioLogin.get('nombreUsuario')!.hasError('maxlength') && formularioLogin.get('nombreUsuario')!.touched">
                            * Debe contener maximo de 20 caracteres
                        </div>
                    </div>
                    
                    <div class="mb-3 text-left">
                        <label for="clave" class="form-label">Contraseña</label>
                        <input formControlName="claveUsuario"
                        type="password" class="form-control" id="clave"
                        placeholder="Ingrese la contraseña por favor">
                        <div class="errorCodigo" *ngIf="formularioLogin.get('claveUsuario')!.hasError('required') && formularioLogin.get('claveUsuario')!.touched">
                            * El campo clave no debe estar vacio
                        </div>
                        <div class="errorCodigo" *ngIf="formularioLogin.get('claveUsuario').hasError('hayEspacio')  && formularioLogin.get('claveUsuario')!.touched">
                            * No debes agregar espacios en blanco
                        </div>
                        <div class="errorCodigo" *ngIf="formularioLogin.get('claveUsuario')!.hasError('minlength') && formularioLogin.get('claveUsuario')!.touched">
                            * Debe contener minimo de 6 caracteres
                        </div>
                        <div class="errorCodigo" *ngIf="formularioLogin.get('claveUsuario')!.hasError('maxlength') && formularioLogin.get('claveUsuario')!.touched">
                            * Debe contener maximo de 20 caracteres
                        </div>
                    </div>

                    <div class="mb-3">
                        <button (click)="accediendo(formularioLogin)"
                        [disabled]="!formularioLogin.valid"
                        type="submit" class="btn btn-primary">Acceder</button>
                    </div>

                    <div class="mb-3">
                        <button (click)="registrarse()"
                        type="button" class="btn btn-primary">
                            Registrese aqui si no tiene cuenta
                        </button>
                        <div *ngIf="!usuarioRegistrado">El usuario y/o la clave esta errado</div>
                        <div *ngIf="usuariobloquedo">El usuario se encuentra bloqueado</div>
                    </div>

                </form>
            </div>
        </div>
   </div>

   <div class="container text-center">

        <div class="row">
            <div class="col mb-3">
                <app-remember-user></app-remember-user>  
            </div>
            <div class="col mb-3">
                <app-remember-pass></app-remember-pass>
            </div>
            
        </div>

   </div>


    <app-footer-bar></app-footer-bar>

