<div class="container-footer col-12">
    <div class="row">

        <div class="col-4">
            <h5>Redes Sociales</h5>

            <a href="https://www.facebook.com/miguel.leonrojas" 
            class="fa fa-facebook" target="_blank"></a>

            <a href="https://www.instagram.com/migueleonrojas/?hl=es" 
            class="fa fa-instagram" target="_blank"></a>

            <a href="https://www.linkedin.com/in/miguel-leon-rojas-5b3b1b166/" 
            class="fa fa-linkedin" target="_blank"></a>
        </div>

        <div class="col-4">
            <h5>Contacto</h5>
            <div style="display: flex;">
                <span class="material-icons">phone</span>
                <span>0412-585-36-26</span>
            </div>

            <div style="display: flex;">
                <span class="material-icons">email</span>
                <span>migueleonrojas@gmail.com</span>
            </div>
            

            
            
        </div>

        <div class="col-4">
            <h5>Repositorios y/o Proyectos</h5>

            <div style="display: flex;">
                <a href="https://github.com/migueleonrojas" class="fa fa-github"
                target="_blank"></a>
            </div>
            
            
        </div>



    </div>

</div>        
        

    



