<div class="container">

    <div class="row">

        
        <div *ngIf="!timeOut;else tiempoExpirado" class="col text-center">
            <p>Su codigo expira en {{ minutes | colocarCero}}:{{ seconds | colocarCero}}</p>
        </div>
        
        
        <ng-template  #tiempoExpirado>

            <div class="col text-center">
                <button class="btn btn-primary text-center" (click)="reenviarCodigo()">Reenviar codigo</button>
            </div>
        </ng-template>
        
        

    </div>   

</div>

            